@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:var(--body-xsmall-regular-font-weight),var(--body-small-medium-font-weight),var(--body-medium-semibold-font-weight),var(--body-small-regular-font-weight),var(--body-medium-regular-font-weight),var(--body-small-semibold-font-weight),var(--heading-h4-font-weight)|Inter:var(--regular-none-medium-font-weight)");

:root {
  --app-primary: rgba(18, 26, 38, 1);
  --body-medium-regular-font-family: "Plus Jakarta Sans", Helvetica;
  --body-medium-regular-font-size: 16px;
  --body-medium-regular-font-style: normal;
  --body-medium-regular-font-weight: 400;
  --body-medium-regular-letter-spacing: -0.32px;
  --body-medium-regular-line-height: 160%;
  --body-medium-semibold-font-family: "Plus Jakarta Sans", Helvetica;
  --body-medium-semibold-font-size: 16px;
  --body-medium-semibold-font-style: normal;
  --body-medium-semibold-font-weight: 600;
  --body-medium-semibold-letter-spacing: -0.32px;
  --body-medium-semibold-line-height: 155%;
  --body-small-medium-font-family: "Plus Jakarta Sans", Helvetica;
  --body-small-medium-font-size: 14px;
  --body-small-medium-font-style: normal;
  --body-small-medium-font-weight: 500;
  --body-small-medium-letter-spacing: -0.2800000000000001px;
  --body-small-medium-line-height: 155%;
  --body-small-regular-font-family: "Plus Jakarta Sans", Helvetica;
  --body-small-regular-font-size: 14px;
  --body-small-regular-font-style: normal;
  --body-small-regular-font-weight: 400;
  --body-small-regular-letter-spacing: -0.2800000000000001px;
  --body-small-regular-line-height: 155%;
  --body-small-semibold-font-family: "Plus Jakarta Sans", Helvetica;
  --body-small-semibold-font-size: 14px;
  --body-small-semibold-font-style: normal;
  --body-small-semibold-font-weight: 600;
  --body-small-semibold-letter-spacing: -0.2800000000000001px;
  --body-small-semibold-line-height: 155%;
  --body-xsmall-regular-font-family: "Plus Jakarta Sans", Helvetica;
  --body-xsmall-regular-font-size: 12px;
  --body-xsmall-regular-font-style: normal;
  --body-xsmall-regular-font-weight: 400;
  --body-xsmall-regular-letter-spacing: 0px;
  --body-xsmall-regular-line-height: 155%;
  --greyscale-0: rgba(255, 255, 255, 1);
  --greyscale-100: rgba(223, 225, 231, 1);
  --greyscale-300: rgba(164, 172, 185, 1);
  --greyscale-400: rgba(129, 136, 152, 1);
  --greyscale-900: rgba(15, 23, 42, 1);
  --heading-h4-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-h4-font-size: 24px;
  --heading-h4-font-style: normal;
  --heading-h4-font-weight: 700;
  --heading-h4-letter-spacing: 0px;
  --heading-h4-line-height: 150%;
  --primary-500: rgba(243, 65, 71, 1);
  --regular-none-medium-font-family: "Inter", Helvetica;
  --regular-none-medium-font-size: 16px;
  --regular-none-medium-font-style: normal;
  --regular-none-medium-font-weight: 500;
  --regular-none-medium-letter-spacing: 0px;
  --regular-none-medium-line-height: 16px;
  --shadow-xsmall: 0px 1px 2px 0px rgba(13, 13, 18, 0.06);
  --white-900: rgba(255, 255, 255, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
